form#login {
    background: rgb(248, 24, 42);
    box-sizing: border-box;
    border: 2px solid #3421da;
    border-radius: 4px;
    box-shadow: 20px 20px 29px rgb(255, 102, 0);
    text-align: center;
    width: 200px;
    padding: 12px 12px ;
    margin-bottom: 200px;
    margin-top: 150px;
    
    position: relative;
    top: -100;
}

form#getintouch {
    background: red;
    box-sizing: border-box;
    border: 2px solid #3421da;
    border-radius: 4px;
    box-shadow: 20px 20px 29px rgb(15, 27, 206);
    text-align: center;
    width: 260px;
    padding: 12px 12px ;
    left: 300px;
    position: relative;
    top: -400px;
    
}
form#getintouch div{
    margin-top: 2px;
    padding: 10px;
    
}

form#Login div{
    padding: 10px;
    margin: 10px;
}

form:hover{
    background-color: #3421da;
    color: #0fe8f0;
}
input:hover{
    color: rgb(1, 10, 10);
    background-color: rgb(9, 158, 228);
}